/stock/tickflowDir/data/single_stock/
/stock/tickflowDir/helloWorld.py
/stock/tickflowDir/temp_test.js
/stock/tickflowDir/data/
/stock/tickflowDir/logs/
/stock/akShare/十大流通股东/parsed_datasource/
/stock/akShare/data/basic_info/stocks/*.csv
